:root{
--Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);
}

body{
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.title{
  text-align: center;
  color: var(--Dark-Blue);
  margin-top: 0;
  margin-bottom: 50px;
}
.card{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width:1024px){
  .card{
    width: 80%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
  }
}
.card__header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('/images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:10px 10px;
  height: 325px;
  transition: transform 0.6s;
}
@media screen and (min-width:1024px) {
  .card__header {
    grid-column: 2/-1;
    height: 400px;
    background-size: 80%;
    background-position: 45px 2px;
  }
}
.slides {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
  padding: 0.4em;
  border-radius: 100px;
}
.card__img{
  max-width: 75%;
  box-shadow:  0 10px 9px 0 rgba(0,0,0, 0.5);
  transition: transform 0.6s;
}
@media screen and ( min-width:1024px){
  .card__img{
    max-width: 65%;
  }
}
.card__body{
  background-image: url('/images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 0;
  transition: transform 0.6s;
}
@media screen and (min-width:1024px) {
  .card__body{
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.card__info,
.card__workplace{
  text-align: center;
  font-weight: 500;
  color: var(--Grayish-Blue);
}
.card__info{
  line-height: 1.3em;
}
.card__name{
  text-align: center;
  color: var(--Dark-Blue);
  font-weight: 700;
}

.right{
  transform: translateX(125%);
}
.left{
  transform: translateX(-105%);
}
@media screen and (min-width:1024px) {
  .right {
    transform: translateX(200%);
  }
  .left{
    transform: translateX(-180%);
  }
  .slides img{
    cursor: pointer;
  }
}
.footer{
  background-color: var(--Dark-Blue);
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.footer__mentor,
.footer__link{
  text-decoration: none;
  color:tomato;
}
